
.japnese .hide{
   visibility: hidden;
   width: 120px;
   background-color: #EAF6F6;
   color: #66BFBF;
   text-align: center;
   border-radius: 100%;
   position: absolute;
   right: 0;
  z-index: 1;
}
.japnese:hover .hide{
    visibility: visible;
}

body{
 
text-align: center;
font-family: 'Indie Flower', cursive,serif;
font-family: 'Great Vibes', cursive,serif;
margin-top: 0;
margin-left: 0;
margin-bottom: 0;
margin-right: 0;   
color: #40514E;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    margin-top: 80px;
    color: #66BFBF;
    font-weight: normal;
}
.top-container{
    background-color:#EAF6F6 ;
    position: relative;
    padding-top: 100px;
    
}
.middle-container{
    
    
}

h1{
    margin-top: 0;
    padding-top: 50px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    display: inline;
    top: 50px;
    position: relative;
    right:80px;
    font-size: 3rem;
    color: #66BFBF;
    
}

.bottom-cloud{
    position: relative;
    
    bottom:320px;
    right:60px

}
.top-cloud{
    position: relative;
    left: 600px;
    bottom: 70px;
    
    
}
.sagar_Image{
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    margin-top: 100px;
    margin-bottom: 0;
}
.sagarImage1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.sagarImage2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.mountain{
    position: relative;
    right: 5%;
}
h2{
    color:#66BFBF;
    font-weight: normal;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
.footer-link{
    color:#11999E;
}
h4{
    color:#66BFBF;
    font-size:2rem ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 2;
    
}
.skill-row{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
    
    

}
p{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 2;

    
}
.profile{
    width: 40%;
    margin: auto;
    margin-bottom: 100px;
    
}
.hello{
   margin-top: 5px;
}
hr{
    border-style: none;
    border-top:dotted;
    border-width: 6px;
    color: grey;
    width: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
    
    
}


.contact-me{
    margin-bottom: 60px;
}
.last{
    font-size: 1.4rem;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #30e3cd;
    background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
    text-decoration: none;
  }
  .bottom-container{
   background-color:#66BFBF ;
   padding: 40px 0 20px;
   color: white;
   font-family: 'Times New Roman', Times, serif;
   
   
  }
  a{
    color: #11999E;
    font-family: 'Times New Roman', Times, serif;
    margin:40px 20px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .sagar{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 0.9rem;
}
